.icons{ background:url("icons.png") top left no-repeat; }
.steps-handler-bg{ width:21px; height:46px; background-position:-10px -10px; }
.help-modal-chat-icon50x43-normal{ width:50px; height:43px; background-position:-10px -66px; }
.help-modal-mail-icon50x43-normal{ width:50px; height:43px; background-position:-10px -119px; }
.help-modal-phone-icon50x43-normal{ width:50px; height:43px; background-position:-10px -172px; }
.succeded-icon-42x43{ width:42px; height:43px; background-position:-10px -225px; }
.header-search-btn-normal{ width:45px; height:37px; background-position:-10px -278px; }
.settings-title-icon{ width:36px; height:36px; background-position:-10px -325px; }
.title-profile-icon-31x35{ width:29px; height:35px; background-position:-10px -371px; }
.breadcrumb-back-btn-hover{ width:35px; height:31px; background-position:-10px -416px; }
.breadcrumb-back-btn-normal{ width:35px; height:31px; background-position:-10px -457px; }
.search-app-thumb2-30x30{ width:30px; height:30px; background-position:-10px -498px; }
.search-page-thumb-30x30{ width:30px; height:30px; background-position:-10px -538px; }
.alert-icon-31x29{ width:31px; height:29px; background-position:-10px -578px; }
.notificationbox-important-info-red-icon-32x27{ width:32px; height:27px; background-position:-10px -617px; }
.edit-green-icon-26x26-normal{ width:26px; height:26px; background-position:-10px -654px; }
.step-bg-26x26-able{ width:26px; height:26px; background-position:-10px -690px; }
.add-btn-26x26-normal{ width:26px; height:26px; background-position:-10px -726px; }
.step-bg-26x26-active{ width:26px; height:25px; background-position:-10px -762px; }
.form-dropdown-arrow-normal{ width:23px; height:25px; background-position:-10px -797px; }
.form-dropdown-arrow-hover{ width:23px; height:25px; background-position:-10px -832px; }
.search-app-thumb-26x25{ width:25px; height:24px; background-position:-10px -867px; }
.step-child-arrow-bg{ width:22px; height:24px; background-position:-10px -901px; }
.header-todo-drop-more-arrow-normal{ width:24px; height:24px; background-position:-10px -935px; }
.header-todo-drop-more-arrow-hover{ width:24px; height:24px; background-position:-10px -969px; }
.arrow-right-select{ width:21px; height:21px; background-position:-10px -1003px; }
.arrow-left-select{ width:22px; height:21px; background-position:-10px -1034px; }
.info-icon-23x21{ width:21px; height:21px; background-position:-10px -1065px; }
.form-radio-btn-unchecked{ width:20px; height:20px; background-position:-10px -1096px; }
.form-tooltip-error-icon-20x20{ width:20px; height:20px; background-position:-40px -1096px; }
.form-tooltip-info-icon{ width:20px; height:20px; background-position:-10px -1126px; }
.form-radio-btn-checked{ width:20px; height:20px; background-position:-40px -1126px; }
.move-icon-25x25-disable{ width:19px; height:20px; background-position:-41px -10px; }
.move-icon-25x25-hover{ width:19px; height:20px; background-position:-41px -1003px; }
.move-icon-25x25-normal{ width:19px; height:20px; background-position:-41px -1065px; }
.notification_icon1{ width:19px; height:20px; background-position:-10px -1156px; }
.toolkit-published-check-24x19-disabled{ width:24px; height:19px; background-position:-10px -1186px; }
.toolkit-published-check-24x19-gray{ width:24px; height:19px; background-position:-10px -1215px; }
.toolkit-published-check-24x19-normal{ width:24px; height:19px; background-position:-10px -1244px; }
.delete-icon-25x25-hover{ width:13px; height:18px; background-position:-46px -654px; }
.delete-icon-25x25-normal{ width:13px; height:18px; background-position:-46px -690px; }
.edit-icon-25x25-disable{ width:19px; height:18px; background-position:-39px -1156px; }
.edit-icon-25x25-hover{ width:19px; height:18px; background-position:-10px -1273px; }
.edit-icon-25x25-normal{ width:19px; height:18px; background-position:-39px -1273px; }
.header-logout-icon-18x17-normal{ width:18px; height:17px; background-position:-42px -901px; }
.close-icon-16x16-normal{ width:16px; height:16px; background-position:-43px -797px; }
.form-calendar-icon-hover{ width:16px; height:16px; background-position:-43px -832px; }
.w4_form{ width:19px; height:16px; background-position:-10px -1301px; }
.header-settings-icon-21x20-hover{ width:16px; height:16px; background-position:-44px -935px; }
.header-help-icon-grey-20x20-normal{ width:16px; height:16px; background-position:-44px -969px; }
.header-help-icon-blue-20x20-normal{ width:16px; height:16px; background-position:-42px -1034px; }
.form-calendar-icon-normal{ width:16px; height:16px; background-position:-44px -1186px; }
.form-checkbox_btn-unchecked{ width:15px; height:15px; background-position:-45px -867px; }
.form-checkbox_btn-checked{ width:15px; height:15px; background-position:-44px -1215px; }
.dashboard-compliance-alert-icon-15x15-normal{ width:15px; height:15px; background-position:-44px -1244px; }
.dashboard-compliance-alert-icon-20x14-normal{ width:20px; height:14px; background-position:-39px -1301px; }
.dashboard-compliance-alert-icon-13x13-normal{ width:13px; height:13px; background-position:-46px -726px; }
.w4_email{ width:23px; height:13px; background-position:-10px -1327px; }
.sort-management-arrow-down{ width:9px; height:12px; background-position:-49px -371px; }
.sort-management-arrow-idle{ width:9px; height:12px; background-position:-50px -498px; }
.sort-management-arrow-up{ width:9px; height:12px; background-position:-50px -538px; }
.sidebar-checkmark-active{ width:14px; height:11px; background-position:-46px -762px; }
.header-todo-drop-down-arrow-normal{ width:12px; height:9px; background-position:-43px -1327px; }
.header-todo-drop-up-arrow-normal{ width:12px; height:9px; background-position:-10px -1350px; }
.breadcrumb-arrow{ width:3px; height:5px; background-position:-56px -325px; }
